body {
  background-color: black;
  color: #00FF00;
  font-family: "Courier New", monospace;
}

[data-testid="stAppViewContainer"] {
  background: linear-gradient(135deg, #000000 25%, #0d0d0d 75%);
  animation: cyberRain 10s linear infinite;
}

@keyframes cyberRain {
  0% { background-position: 0 0; }
  100% { background-position: 1000px 1000px; }
}

.terminal {
  background-color: black;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
  padding: 1em;
  border: 1px solid #00ff00;
  margin-top: 20px;
}
